{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
	<div class="row justify-content-between">
    <div class="col-2">
      <div class="logo"></div>
    </div>
    <div class="col-3 text-right">
      {% if user.is_authenticated %}
        {% ifequal user.id current.user_id %}
        <a class="a__current"
          href="{% url 'current' %}"
          data-toggle="modal"
          data-target="#currentForm">
          Current speaker
        </a>
        {% endifequal %}
      {% endif %}
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6 text-center">
    	<img class="a__icon" src="{% static 'img/icon.svg' %}" alt="Lightning Talks">
			<h1>Lightning Talks</h1>
			<p>Creative Presentations From our Team Members</p>
    </div>
  </div>

  <div class="row">
    <div class="col m__filters">
    	<span>Filter by:</span>
			<select class="m__filters-cycle">
			  <option value="0">Cycle #0</option>
			  <option value="1">Cycle #1</option>
			</select>

			<select class="m__filters-topic">
			  <option value="0">All Categories</option>
			  <option value="team_culture">Team Culture</option>
			  <option value="product_management">Product Management</option>
			  <option value="marketing">Sales & Marketing</option>
			  <option value="tech">Technology</option>
			  <option value="design">Design</option>
			</select>

    </div>
  </div>

  <div class="row">
  	{% for talk in talks %}
  		<div class="col-6">
  			<div class="m__talk-info">
  				<div class="row justify-content-between m__talk-header">
  					<h2 class="col-9"><a href="{{talk.link}}" target="_blank">{{talk.name|truncatechars:36}}</a></h2>
  					<div class="col-3 text-center">
  						<p class="m__talk-label m__talk-label_{{talk.topic}}">{{talk.get_topic_display}}</p>
  					</div>
  				</div>
  				<div class="m__talk-body">
  					<div class="row">
  						<div class="col-1">
  							
  							{% if talk.human.avatar %}
  	  					<img class="m__talk-user" src="/{{talk.human.avatar}}" alt="User">
  							{% else %}
  	  					<img class="m__talk-user" src="{% static 'img/user.png' %}" alt="User">
  							{% endif %}
							</div>
  						<div class="col-8">
	  						<p>By: {{talk.human}}</p>
  							<p><span>Product Engineer</span></p>
  						</div>
  					</div>

  				</div>
  			</div>
  		</div>
		{% endfor %}
  </div>
</div>


<div class="modal fade" id="currentForm" tabindex="-1" role="dialog" aria-labelledby="currentFormLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="currentFormLabel">Complete the proccess: <span>{{current}}</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
      	<div class="current m__current-form">
          <div id="results"></div>
					<form method="post" id="current-talk-form">
			    	{% csrf_token %}
			    	{{ form.as_p }}
            <div class="row">
              <div class="col text-right">
    		  	  	<input type="submit" value="Save talk">
		          </div>
            </div>
    			</form>
      	</div>

        <div class="row a__victimbtn">
          <div class="col text-center">
            <a class="a__current" href="{% url 'victim' %}">
              Randomly select victim
            </a>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/filters.js' %}"></script>
{% endblock %}